$font25px: 25px
    
header
    margin: 0 auto
    background: white
    .burger
        display: none
    .neBurger
        div
            width: 100%
            display: flex
            justify-content: space-around
            padding: 10px 0
        width: 80%
        margin: 0 auto
        display: flex
        justify-content: space-around
        padding: 10px 0
        .header-element
            width: 20%
            padding: 34px 0
            p
                white-space: nowrap
                font-size: $font25px
        .logo
            width: 100px   